.panel-container {
   width: 300px;
   border-style: solid;
   align-items: center;
   justify-content: space-evenly;
   border-color: gray;
}

.board-header-container {
   padding: 8px;
}

.board-header-text {
   font-weight: bold;
   margin-bottom: 0.24rem;
}

.board-header-text-detail {
   font-size: 16px;
}

.RCAB-board-header-container {
   display: none;
}

.RCAB-board-header-text {
   font-weight: bold;
   margin-bottom: 0.24rem;
}

.RCAB-board-header-text-detail {
   font-size: 16px;
}

.RCAB-panel-container {
   width: 100%;
   display: flex;
   border-style: solid;
   align-items: center;
   justify-content: space-evenly;
   border-color: gray;
}

.RCAB-analysis-board-container {
   outline: none;
   display: grid;
   grid-template-columns: auto 1fr;
   width: 100%;
   gap: 1rem;
}

@media (max-width: 768px) {
   .RCAB-analysis-board-container {
      grid-template-columns: 1fr;
      place-items: center;
   }
}

@media (min-width: 1024px) and (max-width: 1400px) {
   .RCAB-analysis-board-container {
      grid-template-columns: 1fr;
      place-items: center;
   }
}

/*
  ************
  Moves 
  ************
  */

.RCAB-moves-container {
   display: grid;
   gap: 0 0.5rem;
   grid-template-columns: repeat(2, 1fr);
}

/* Root */
.RCAB-root-active-node {
   cursor: pointer;
   color: #e0ebf5;
}

.RCAB-root-active-node-selected {
   cursor: pointer;
   color: green;
}
.RCAB-root-active-node-first {
   cursor: pointer;
   color: black;
}
.RCAB-root-active-node-last {
   cursor: pointer;
   color: black;
}
.RCAB-root-active-node-first-selected {
   cursor: pointer;
   color: green;
}
.RCAB-root-active-node-last-selected {
   cursor: pointer;
   color: green;
}

.RCAB-root-inactive-node-first {
   cursor: pointer;
   color: black;
}
.RCAB-root-inactive-node {
   cursor: pointer;
   color: black;
}
.RCAB-root-inactive-node-last {
   cursor: pointer;
   color: black;
}

.RCAB-inactive-node {
   cursor: pointer;
   color: gray;
}

.RCAB-inactive-node-first {
   cursor: pointer;
   color: gray;
}
.RCAB-inactive-node-last {
   cursor: pointer;
   color: gray;
}
.RCAB-inactive-node-first-last {
   cursor: pointer;
   color: gray;
}
.RCAB-active-node {
   cursor: pointer;
   color: blue;
}
.RCAB-active-node-first {
   cursor: pointer;
   color: blue;
}
.RCAB-active-node-first-selected {
   cursor: pointer;
   color: green;
}
.RCAB-active-node-last {
   cursor: pointer;
   color: blue;
}
.RCAB-active-node-last-selected {
   cursor: pointer;
   color: green;
}
.RCAB-active-node-first-last {
   cursor: pointer;
   color: blue;
}
.RCAB-active-node-first-last-selected {
   cursor: pointer;
   color: green;
}
.RCAB-active-node-selected {
   cursor: pointer;
   color: green;
}
.RCAB-move-separator {
   border-top: 1px solid gray;
}
.RCAB-submove-separator {
   border-top: 2px solid gray;
}
